<!-- ADVANTAGES END -->
<section class="section">
  <div class="container">
    <ul class="advantages">
      <li class="advantages__item">
        <div class="advantages__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="70px" height="70px">
            <use href="./images/icons.svg#icon-antenna-1"></use>
          </svg>
        </div>
        <h3 class="advantages__title">Lorem ipsum</h3>
        <p class="advantages__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel arcu sem. Sed non sodales
          dui. Interdum et malesuada
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="70px" height="70px">
            <use href="./images/icons.svg#icon-clock-1"></use>
          </svg>
        </div>
        <h3 class="advantages__title">Lorem ipsum</h3>
        <p class="advantages__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel arcu sem. Sed non sodales
          dui. Interdum et malesuada
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="70px" height="70px">
            <use href="./images/icons.svg#icon-diagram-1"></use>
          </svg>
        </div>
        <h3 class="advantages__title">Lorem ipsum</h3>
        <p class="advantages__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel arcu sem. Sed non sodales
          dui. Interdum et malesuada
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="70px" height="70px">
            <use href="./images/icons.svg#icon-astronaut-1"></use>
          </svg>
        </div>
        <h3 class="advantages__title">Lorem ipsum</h3>
        <p class="advantages__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel arcu sem. Sed non sodales
          dui. Interdum et malesuada
        </p>
      </li>
    </ul>
  </div>
</section>
<!-- ADVANTAGES END -->
