<!-- OFFER START -->
<section class="section offer">
  <div class="container">
    <h2 class="section-title">Czym się zajmujemy</h2>
    <ul class="offer__list">
      <li class="offer__list-item">
        <img
          class="offer__image"
          src="images/desktop/programer-working.jpg"
          alt="Programer working his desk office"
          width="370"
          height="294"
        />

        <div class="offer__description">
          <span class="offer__text">aplikacje komputerowe</span>
        </div>
      </li>
      <li class="offer__list-item">
        <img
          class="offer__image"
          src="images/desktop/developing-application.jpg"
          alt="Web UI Designers are developing application"
          width="370"
          height="294"
        />

        <div class="offer__description">
          <span class="offer__text">aplikacje mobilne</span>
        </div>
      </li>
      <li class="offer__list-item">
        <img
          class="offer__image"
          src="images/desktop/creative-artist.jpg"
          alt="Creative artist web design with working colour selection graphic tablet"
          width="370"
          height="294"
        />

        <div class="offer__description">
          <span class="offer__text">rozwiązania graficzne</span>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- OFFER END -->
